img {
    pointer-events: none;
    width: 100%;
    height: 100vh;
  }
  .ch {
    position: absolute;
    top: 0;
    right: 0;
  }
  .if {
    position: absolute;
    top: 0;
    right: 0;
  }
  body {
    background-color: black;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0;
    margin-left: 0;
    height: 100vh;
    position: fixed;
  }
  p {
    color:white;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Pixel';
  }
  button {
    font-family: 'Pixel';
    background: black;
    font-size: 400%;
    color: white;
    cursor: pointer;
  }
  .gradient {
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, black, transparent);
  }
  .full {
    position: absolute;
    width: 6%;
    height: 10%;
    right: 0;
    bottom: -10%;
    font-size: small;
    padding: 0;
  }
  .ex {
    border: 0;
    padding: 0;
    position: absolute;
    height: 100%;
    width: 6%;
  }
  .next {
   border: 0;
   padding: 0;
   position: absolute;
   right: 0;
   height: 100%;
   width: 6%;
  } 
  .touch {
    position: absolute;
    width: 94%;
    bottom: 4%;
    height: 27%;
    left: 3%;
    border: solid 3px white;
  }
  .buttons {
    opacity: 0.5;
    background: black;
    width: 100%;
    height: 100%;
  }
  .nameDiv {
    position: absolute;
    width: 30%;
    height: 27%;
    top: -19%;
    left: 6%;
    background: white;
  }
  .name {
    margin: 0;
    top: 15%;
    left: 12%;
    font-family: 'Pixel';
    position: absolute;
    font-size: 250%;
    border: 0;
    padding: 0;
  }
  .textDiv {
    position: absolute;
    width: 88%;
    left: 6%;
    font-size: 200%;
    top: 20%;
    height: 70%;
  }
@font-face {
  font-family: "Pixel";
  src: url("./fonts/small_pixel-7.ttf");
  font-style: normal;
  font-weight: normal;
}
.play {
  background-color: transparent;
  width: 18%;
  top: -54px;
  position: relative;
  left: 50%;
  height: 28%;
  transform: translate(-50%, 0);
}
.game {
  position: absolute;
  width: 94%;
  bottom: 4%;
  height: 27%;
  left: 3%;
}
.authors {
  background-color: transparent;
    width: 18%;
    top: 19px;
    position: relative;
    left: 32%;
    height: 27%;
    transform: translate(-53%, 0);
}
#bg {
  pointer-events: none;
  width: 40%;
  height: 15%;
  margin-left: 1%;
  margin-top: 1%;
}
#gl {
  pointer-events: none;
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 0;
  right: 0;
}
#pr {
  left: -18%;
  top: -210px;
  pointer-events: none;
  width: 50%;
  height: 20%;
  margin: auto;
  position: relative;
}
#slovo {
  pointer-events: none;
  width: 100%;
  height: 70%;
  position: absolute;
  bottom: 40%;
  right: 0;
  left: 34%;
  font-size: 55px;
}