img {
    pointer-events: none;
    width: 100%;
    height: 100vh;
  }
  .ch {
    position: absolute;
    top: 0;
    right: 0;
  }
  .if {
    position: absolute;
    top: 0;
    right: 0;
  }
  body {
    background-color: black;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0;
    margin-left: 0;
    height: 100vh;
    position: fixed;
  }
  p {
    color:white;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Pixel';
  }
  button {
    font-family: 'Pixel';
    background: black;
    font-size: 400%;
    color: white;
    cursor: pointer;
  }
  .gradient {
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, black, transparent);
  }
  .full {
    position: absolute;
    width: 6%;
    height: 10%;
    right: 0;
    bottom: -10%;
    font-size: small;
    padding: 0;
  }
  .ex {
    border: 0;
    padding: 0;
    position: absolute;
    height: 100%;
    width: 6%;
  }
  .next {
   border: 0;
   padding: 0;
   position: absolute;
   right: 0;
   height: 100%;
   width: 6%;
  } 
  .touch {
    position: absolute;
    width: 94%;
    bottom: 4%;
    height: 27%;
    left: 3%;
    border: solid 3px white;
  }
  .buttons {
    opacity: 0.5;
    background: black;
    width: 100%;
    height: 100%;
  }
  .nameDiv {
    position: absolute;
    width: 30%;
    height: 27%;
    top: -19%;
    left: 6%;
    background: white;
  }
  .name {
    margin: 0;
    top: 15%;
    left: 12%;
    font-family: 'Pixel';
    position: absolute;
    font-size: 250%;
    border: 0;
    padding: 0;
  }
  .textDiv {
    position: absolute;
    width: 88%;
    left: 6%;
    font-size: 200%;
    top: 20%;
    height: 70%;
  }
  .compText {
    width: 80%;
    left: 10%;
    right: 10%;
    height: 40%;
    position: absolute;
    top: -100%;
  }
  .bgText {
    font-family: 'Inter';
  }
  .enter {
    left: 30%;
    position: absolute;
    width: 40%;
    height: 70%;
    top: 90%;
  }
  .enter1 {
    color: white;
    display: flex;
    font-size: larger;
    justify-content: center;
    font-family: "Inter";
  }
  .login {
    border: 0;
    margin: 0;
    padding: 0;
    height: 5vh;
    width: 100%;
    display: flex;
    font-size: 200%;
    background: white;
  }
  .flexDiv {
    flex-direction: row;
    display: flex;
  }
  .password {
    display: flex;
    border: 0;
    padding: 0;
    width: 100%;
    height: 5vh;
    flex-direction: row;
    font-size: 200%;
    margin-top: 5%;
  }
  .arrow {
    display: flex;
    width: 0;
    background: 0;
    place-self: flex-end;
    border: 0;
    margin: 0;
    padding: 0;
  }
  .arrowImg {
    height: 5vh;
    width: 5vh;
  }
  .help {
    text-align: center;
    text-decoration: underline;
  }
@font-face {
  font-family: "Pixel";
  src: url("./fonts/small_pixel-7.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-VariableFont_slnt\,wght.ttf");
  font-style: normal;
  font-weight: normal;
}