body {
    background-color: black;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0;
    margin-left: 0;
    height: 100vh;
    position: fixed;
  }
  p {
    color:white;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Pixel';
  }
img {
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 50vh;
}
.ter {
    margin-top: 10px;
    margin-left: 5px;
    width: 40%;
    height: 50%;
}
.glit {
    margin-top: 450px;
    position: absolute;
    width: 100%;
    height: 50%;
}
.snow {
    width: 50%;
    height: 30%;
    left: 23%;
    top: 68px;
}
p {
    position: absolute;
    width: 50%;
    height: 50%;
    left: 24%;
    top: 72px;
    font-size: 60px;
    text-align: center;
    letter-spacing: 2px;
}
.git {
    font-size: 40px;
    top: 92%;
    left: 30%;
    bottom: 90%;
    width: 40%;
    opacity: .3;
    height: 20%;
}
button 
  {
    font-family: 'Pixel';
    background: black;
    font-size: 400%;
    color: white;
    cursor: pointer;
    border: solid 3px white;
  }
  .buttons {
    background: black;
    width: 100%;
    height: 100%;
  }
  .play {
    border: 0;
    padding: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    font-family: "Pixel";
    font-size: 40px;
    color: white;
    letter-spacing: 2px;
  }
  .authors {
    top: 150%;
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    bottom: -100%;
    font-size: 40px;
    padding: 0;
    color: white;
    font-family: "Pixel";
    letter-spacing: 2px;
  }
  .touch {
    position: absolute;
    width: 15%;
    bottom: 40%;
    height: 9%;
    left: 50%;
    border: solid 3px white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
@font-face {
    font-family: "Pixel";
    src: url("./fonts/small_pixel-7.ttf");
    font-style: normal;
    font-weight: normal;
  }
